* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alice', serif;
}

/* 
FONT FAMILIES TO CHOOSE FROM

font-family: 'Alice', serif;
font-family: 'Cinzel', serif;
font-family: 'Concert One', cursive;
font-family: 'Prata', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Yellowtail', cursive; 

*/